<main id="main" class="main">
    <div class="pagetitle">
       <h1>Certificados</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
             <li class="breadcrumb-item">Menú</li>
             <li class="breadcrumb-item active">Certificados</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row align-items-top">
            <div class="col-lg-12">
                <div class="card text-center">
                    <div class="card-header">
                        <ul class="nav nav-pills card-header-pills">
                            <li class="nav-item "> <a class="btn btn-link mb-3" href="#">fines particulares</a></li>
                            <li class="nav-item "> <a class="btn btn-link mb-3" href="#">Educacion</a></li>
                            <li class="nav-item "> <a class="btn btn-link mb-3" href="#">Laboral</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="col-lg-12">    
                            <div class="card-body">
                                <h5 class="card-title">Card with an image on bottom</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <img src="assets/img/card.jpg" class="card-img-bottom" alt="...">                          
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <a href="#" class="btn btn-secondary float-right">Descargar  <i class="ri-download-2-line"></i></a>
                            <a href="#" class="btn btn-success float-left">Enviar  <i class="ri-mail-send-line"></i></a>
                        </div>
                        
                    </div>
                </div>
            </div>
       </div>
    </section>
 </main>
