<main id="main" class="main">
    <div class="pagetitle">
       <h1>Miembros</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
             <li class="breadcrumb-item">Administar</li>
             <li class="breadcrumb-item active">Miembros</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Miembros</h5>
                    <p>Aqui se podra Editar <i class="ri-user-settings-line"></i> y Eliminar <i class="ri-user-unfollow-line"></i> a los Miembros de la junta vecinal.</p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Rut</th>
                                <th scope="col">Domicilio</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Accion</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Christian Muñoz</td>
                                <td>18.676.566-4</td>
                                <td>Caupolican montaldo</td>
                                <td>Rep.vecinal</td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#disablebackdrop"><i class="ri-user-settings-line"></i></button>
                                    <div class="modal fade" id="disablebackdrop" tabindex="-1" data-bs-backdrop="false">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Editar Miembro</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body"> 
                                                    Aqui pondremos los recuadros para editar los datos del miembro
                                                </div>
                                                <div class="modal-footer"> 
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button> 
                                                <button type="button" class="btn btn-primary">Editar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#elimine"><i class="ri-user-unfollow-line"></i></button>
                                    <div class="modal fade" id="elimine" tabindex="-1" data-bs-backdrop="false">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Eliminar Miembro</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body"> 
                                                    Aqui pondremos los recuadros para eliminar los datos del miembro
                                                </div>
                                                <div class="modal-footer"> 
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button> 
                                                <button type="button" class="btn btn-danger">Eliminar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Christian Muñoz</td>
                                <td>18.676.566-4</td>
                                <td>Caupolican montaldo</td>
                                <td>Rep.vecinal</td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#disablebackdrop"><i class="ri-user-settings-line"></i></button>
                                    <div class="modal fade" id="disablebackdrop" tabindex="-1" data-bs-backdrop="false">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Editar Miembro</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body"> 
                                                    Aqui pondremos los recuadros para editar los datos del miembro
                                                </div>
                                                <div class="modal-footer"> 
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button> 
                                                <button type="button" class="btn btn-primary">Editar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#elimine"><i class="ri-user-unfollow-line"></i></button>
                                    <div class="modal fade" id="elimine" tabindex="-1" data-bs-backdrop="false">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Eliminar Miembro</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body"> 
                                                    Aqui pondremos los recuadros para eliminar los datos del miembro
                                                </div>
                                                <div class="modal-footer"> 
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button> 
                                                <button type="button" class="btn btn-danger">Eliminar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Christian Muñoz</td>
                                <td>18.676.566-4</td>
                                <td>Caupolican montaldo</td>
                                <td>Rep.vecinal</td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#disablebackdrop"><i class="ri-user-settings-line"></i></button>
                                    <div class="modal fade" id="disablebackdrop" tabindex="-1" data-bs-backdrop="false">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Editar Miembro</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body"> 
                                                    Aqui pondremos los recuadros para editar los datos del miembro
                                                </div>
                                                <div class="modal-footer"> 
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button> 
                                                <button type="button" class="btn btn-primary">Editar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#elimine"><i class="ri-user-unfollow-line"></i></button>
                                    <div class="modal fade" id="elimine" tabindex="-1" data-bs-backdrop="false">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Eliminar Miembro</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body"> 
                                                    Aqui pondremos los recuadros para eliminar los datos del miembro
                                                </div>
                                                <div class="modal-footer"> 
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button> 
                                                <button type="button" class="btn btn-danger">Eliminar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>                    
                    </div>
                </div>
            </div>
       </div>
    </section>
 </main>
